RewriteEngine On

# Ensure the request is not for a real file or directory

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all requests to index.php

RewriteRule ^$ /index.php [L]
RewriteRule ^(.\*)$ /index.php [L]
