*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3 {
  font-family: "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-ul:nth-child(1) ul {
  display: flex;
  align-items: center;
}

header,
footer {
  background-color: #f8f9fa;
}

header h1,
footer p {
  margin: 0;
}

header .lead {
  margin: 0;
}

/***/

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
}
.nav_search button {
  border: 1px solid gray;
  border-radius: 20px;
}

nav a:hover {
  text-decoration: none;
  color: white;
}

article {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

article:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.contenu {
  flex: 1 0 auto;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-left: 150px;
  width: 80%;
}

.footer {
  background: #3e3e40;
  color: #f1f1f1;
  padding: 50px 0;
}
.footer .bloc h3 {
  font-size: 16px;
  margin-bottom: 20px;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer .carre {
  display: inline-block;
  padding: 5px 18px;
  background: #2680eb;
  border: none;
  color: white;
}
.footer .sous {
  border-top: 1px solid #f1f1f1;
  padding-top: 20px;
}
.footer .sous h6 {
  font-size: 13px;
  margin: 0;
}
.footer .newmatic h6 {
  text-align: center;
}
img[src="res.jpg"] {
  width: 150px;
  height: auto;
}

header {
  width: 100%;
  background: #fff;
  margin-bottom: 0px;
  height: 100px;
}

.contenu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  height: 40%;
  width: 100%;
  white-space: nowrap;
}

.list-menu {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding-right: 150px;
  padding-bottom: 20px;
  color: #212121;
  letter-spacing: 0.04em;
  word-spacing: -0.31em;
}

.list-menu li {
  font-size: 14px;
  padding-left: 35px;
}

.carre2 {
  border: 0 solid blue;
  padding: 5px 18px;
  display: inline-block;
  background: #2680eb;
  color: #fff;
  margin-top: 70px;
  margin-right: 140px;
}

img[src="news.jpg"] {
  width: 200px;
  height: auto;
}

nav.bg-dark {
  background-color: #3e3e40;
}

.jampers {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-left: 150px;
  border-bottom: 1px solid #3e3e40;
  width: 80%;
}

.jam {
  font-size: 50px;
  font-weight: bold;
}

.pers {
  font-size: 17px;
  color: #005691;
  margin-top: 25px;
  font-weight: bold;
  letter-spacing: 0.04em;
  margin-left: 15px;
}

.contjam {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-left: 150px;
  height: 100px;
  width: 80%;
  border-bottom: 1px solid #3e3e40;
  letter-spacing: 0.04em;
  margin-top: 50px;
}

.jamn {
  font-size: 13px;
}

.getn {
  font-size: 13px;
}

.uljam {
  list-style-type: none;
  line-height: 2;
}

img[src="/site/media/resco.jpg"] {
  width: 150px;
  height: auto;
  justify-content: right;
}

.image-size {
  width: 150px;
  height: auto;
}

.mt-2 {
  list-style-type: none;
}
.full-height {
  height: 100vh; /* Hauteur de la fenêtre */
}

.login-container {
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.login-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #0056b3;
}
.signup-link {
  text-align: center;
  margin-top: 10px;
}
.signup-link a {
  color: #007bff;
  text-decoration: none;
}
.signup-link a:hover {
  text-decoration: underline;
}

.signup-container {
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.signup-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}
.login-link a {
  color: #007bff;
  text-decoration: none;
}
.login-link a:hover {
  text-decoration: underline;
}
